.sidebar {
  width: 20%;
  background-color: #f4f4f9;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  margin-bottom: 15px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
  color: #555;
  cursor: pointer;
}
